entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
cycler==0.10.0
entrypoints==0.3
flake8==3.7.9
japanize-matplotlib==1.0.5
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
cycler==0.10.0
entrypoints==0.3
flake8==3.7.9
japanize-matplotlib==1.0.5
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pydot==1.4.1
pyflakes==2.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
gensim==3.8.1
idna==2.9
japanize-matplotlib==1.0.5
jmespath==0.9.5
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pydot==1.4.1
pyflakes==2.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
smart-open==1.11.1
urllib3==1.25.8
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
gensim==3.8.1
idna==2.9
japanize-matplotlib==1.0.5
jmespath==0.9.5
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pydot==1.4.1
pyflakes==2.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
smart-open==1.11.1
tqdm==4.45.0
urllib3==1.25.8
